# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Node / Frontend
node_modules/
dist/
.vite/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log

build/
dist/
*.spec
__pycache__/
